<header>
  <div class="container">
    <div class="content">
      <div class="logo-wrapper">
        <img src="./assets/images/nyt_logo.png" alt="logo new york times" />
      </div>
      <div class="nav">
        <nav>
          <a routerLink="/home">HOME</a>
          <a routerLink="/books">BOOKS</a>
          <a routerLink="/stories">STORIES</a>
        </nav>
      </div>
    </div>
  </div>
</header>