header {
  .content {
    display: flex;
  }
  nav {
    display: flex;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a {
      display: block;
    }
  }
  .nav {
    width: 70%;
  }
}