<div class="book-details">
  <h3>{{book.book_details[0].title}}</h3>
  <p class="book-info"><span>Author:</span> {{book.book_details[0].author}}</p>
  <p class="book-info"><span>Description:</span> {{book.book_details[0].description}}</p>
</div>
