<div class="container">
  <div class="results-wrapper">
   <div>
    <div class="select" >
      <div class="select-content">
        <div  class="list-item"
              *ngFor="let story of storySections; let i = index" 
              [attr.data-value]="story"
              (click)="getStoriesHandler(story, i)"
              [ngClass]="{'selected': selectedIndex === i}">{{story | uppercase}}</div>
      </div>
    </div>
    <form>
        <input name="story" type="text" [(ngModel)]="story.title" #name="ngModel"/>
        <p *ngIf="name.touched">Error</p>
      </form>
   </div>
      <div class="stories-details">
        <div class="stories-list">
          <div class="card" 
                *ngFor="let story of stories">
            <app-story [story]="story"></app-story>
        </div>
      </div>
    </div>
  </div>
</div>
