.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}

.list-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}


