<div class="results-wrapper">
  <div class="select" >
    <div class="select-content">
      <div  class="list-item"
            *ngFor="let option of listOptions; let i = index" 
            [attr.data-value]="option.list_name_encoded"
            (click)="getListHandler(option.list_name_encoded, i)"
            [ngClass]="{'selected': selectedIndex === i}">{{option.list_name}}</div>
    </div>
  </div>
  <div class="list-details">
    <div class="book-list">
      <div class="card" *ngFor="let book of lists">
        <app-book [book]="book"></app-book>
      </div>
    </div>
  </div>
</div>