<div class="story-details">
  <h3>{{story.title}}</h3>
  <p class="story-info">{{story.section}}: {{story.subsection}}</p>
  <p class="story-info">{{story.byline}}</p>
  <div class="abstract-wrapper">
    <div *ngIf="story.multimedia[1]" class="multimedia">
      <img [src]="story.multimedia[1].url"/>
    </div>
    <p class="abstract">{{story.abstract}}</p>
  </div>
  <a [href]="story.url" target="_blank">Read more >></a>
</div>
  