.story-details {
  h3 {
    padding: 5px 0;
  }
  .story-info {
    padding: 5px 0;
    font-style: italic;
  }
  .abstract {
    padding: 5px 10px;
    text-align: justify;
    &-wrapper {
      display: flex;
    }
  }
  a {
    padding: 10px 0;
  }
}