/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Helvetica;
}
.container {
  padding: 10px 15px;
}

.select {
  width: 35%;
  max-width: 315px;
  height: 50vh;
  overflow: scroll;
}

.list-item {
  padding: 10px 5px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #4779f1;
    color: white;
    padding-left: 15px;
  }
}

.card {
  width: 45%;
  margin: 10px auto;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #000;
}

.selected {
  background-color: #4779f1;
  color: white;
  padding-left: 15px;
}

.results-wrapper {
  display: flex;
}
